body {
    font-family: Arial, sens-serif;
    text-align: centre;
    margin-top: 100px;
    background: #fffde7;
    color: black;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    border-color: black;
    background: #cfb284;
}

